:host {
  display: flex;
  justify-content: center;
}
header {
  padding: 2.4rem 1.2rem 2.4rem 2.4rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1.2rem;
  height: var(--fixed-header-height);
  position: fixed;
  z-index: var(--header-z);
  background-color: #fff;
  font-size: 1.6rem;
  border-radius: 50rem;
  width: calc(100% - calc(var(--padding-inline) * 2));
  max-width: 1400px;
  margin-top: 2.4rem;
}

nav {
  display: flex;
  align-items: center;
  gap: 1.2rem;
}

nav a {
  background-color: #f2f3f7;
  color: #000;
  border-radius: 50rem;
  padding: 0.4rem;
  justify-content: center;
  display: flex;
  align-items: center;
  transition: 0.4s;
  cursor: pointer;
  border: 1px solid transparent;
}
nav a span {
  border-radius: 50%;
  background-color: #fff;
  padding: 0.8rem;
  transition: 0.4s;
}

nav a p {
  max-width: 0;
  opacity: 0;
  overflow: hidden;
  white-space: nowrap;
  transition: 0.4s;
}
nav a p.visible {
  max-width: 120px;
  margin-right: 1.2rem;
  margin-left: 0.8rem;
  opacity: 1;
}
nav a:hover {
  color: #d01f1f;
}

nav a.active-link {
  color: #d01f1f;
  font-weight: 600;
}
nav a:active span,
nav a.active-link:focus span {
  background-color: #fff;
  color: #d01f1f;
}
nav a:focus {
  background-color: #d01f1f;
}
nav a:focus p {
  color: #fff;
}

nav a.active-link span {
  background-color: #d01f1f;
  color: #fff;
}

.header-btns {
  display: flex;
  align-items: center;
  gap: 0.4rem;
}
.authBtn {
  background-color: #d01f1f;
  color: #fff;
  padding: 0.8rem 2.4rem;
  border-radius: 50rem;
  border: 1px solid transparent;
  transition: 0.4s;
  height: 4.4rem;
  align-items: center;
  justify-content: center;
  display: flex;
}
.authBtn:hover,
.authBtn:focus {
  border-color: #d01f1f;
  color: #d01f1f;
  background-color: #fff;
}
.authBtn:active {
  border-color: #000;
  color: #000;
}
.header-btns span {
  border-radius: 50%;
  background-color: #000;
  padding: 1.2rem;
  transition: 0.4s;
  color: #fff;
  font-size: 2rem;
  border: 1px solid transparent;
  height: 4.4rem;
  cursor: pointer;
  transition: 0.4s;
  user-select: none;
}
.header-btns span:hover,
.header-btns span:focus {
  border-color: #000;
  color: #000;
  background-color: transparent;
}
.header-btns span:active {
  border-color: #d01f1f;
  color: #d01f1f;
}

@media (max-width: 1024px) {
  .authBtn {
    padding: 0 1.2rem;
    height: 3.6rem;
  }
  .header-btns span {
    padding: 0 0.8rem;
    height: 3.6rem;
  }
}
@media (max-width: 768px) {
  .authBtn,
  .themeSpan,
  nav {
    display: none;
  }
}
