<header>
  <a [routerLink]="'/lobby'">
    <app-logo></app-logo>
  </a>
  <nav>
    @for (link of links; track link.path) {
      <a
        [routerLink]="link.path"
        routerLinkActive="active-link"
        [routerLinkActiveOptions]="{ exact: false }"
        (mouseenter)="hoveredLabel$.next(link.label)"
        (mouseleave)="hoveredLabel$.next('')"
      >
        <span class="material-symbols-outlined">{{ link.icon }}</span>
        <p
          [class.visible]="
            (hoveredLabel$ | async) === link.label || (activeLabel$ | async) === link.label
          "
        >
          {{ link.label }}
        </p>
      </a>
    }
  </nav>
  <div class="header-btns">
    <a class="authBtn" [routerLink]="'/register'">Register</a>
    <span tabindex="0" class="material-symbols-outlined"> dark_mode </span>
  </div>
</header>
