/* :host {
  display: flex;
  justify-content: center;
} */
header {
  padding: 2.4rem 1.2rem 2.4rem 2.4rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1.2rem;
  height: var(--fixed-header-height);
  position: fixed;
  z-index: var(--header-z);
  background-color: var(--contrast-color);
  font-size: 1.6rem;
  border-radius: 50rem;
  width: calc(100% - calc(var(--padding-inline) * 2));
  max-width: 1400px;
  margin-top: 2.4rem;
  margin-inline: var(--padding-inline);
}

nav {
  display: flex;
  align-items: center;
  gap: 1.2rem;
}

nav a {
  background-color: var(--surface-color);
  color: var(--text-color);
  border-radius: 50rem;
  padding: 0.4rem;
  justify-content: center;
  display: flex;
  align-items: center;
  transition: 0.4s;
  cursor: pointer;
  border: 1px solid transparent;
}
nav a span {
  border-radius: 50%;
  background-color: var(--contrast-color);
  padding: 0.8rem;
  transition: 0.4s;
}

nav a p {
  max-width: 0;
  opacity: 0;
  overflow: hidden;
  white-space: nowrap;
  transition: 0.4s;
}
nav a p.visible {
  max-width: 120px;
  margin-right: 1.2rem;
  margin-left: 0.8rem;
  opacity: 1;
}
nav a:hover {
  color: var(--primary-color);
}

nav a.active-link {
  color: var(--primary-color);
  font-weight: 600;
}
nav a:active span,
nav a.active-link:focus span {
  background-color: var(--contrast-color);
  color: var(--primary-color);
}
nav a:focus {
  background-color: var(--primary-color);
}
nav a:focus p {
  color: #fff;
}

nav a.active-link span {
  background-color: var(--primary-color);
  color: #fff;
}

.header-btns {
  display: flex;
  align-items: center;
  gap: 0.4rem;
}
.authBtn {
  background-color: var(--primary-color);
  color: #fff;
  padding: 0.8rem 2.4rem;
  border-radius: 50rem;
  border: 1px solid transparent;
  transition: 0.4s;
  height: 4.4rem;
  align-items: center;
  justify-content: center;
  display: flex;
}
.authBtn:hover,
.authBtn:focus {
  border-color: var(--primary-color);
  color: var(--primary-color);
  background-color: var(--contrast-color);
}
.authBtn:active {
  border-color: var(--secondary-color);
  color: var(--secondary-color);
}
.avatar {
  width: 4.4rem;
  height: 4.4rem;
  border-radius: 50%;
  text-align: center;
  font-size: 1.8rem;
  transition: 0.4s;
}

.avatar:hover,
.avatar:focus-visible {
  transform: scale(1.05);
}

@media (max-width: 1024px) {
  .authBtn {
    padding: 0 1.2rem;
    height: 3.6rem;
  }
  .avatar {
    width: 3.6rem;
    height: 3.6rem;
  }
}
@media (max-width: 768px) {
  .authBtn,
  nav,
  .themeSwitcher {
    display: none;
  }
}
