<header>
  <a [routerLink]="'/lobby'">
    <app-logo></app-logo>
  </a>
  <nav>
    @for (link of links; track link.path) {
      <a
        [routerLink]="link.path"
        routerLinkActive="active-link"
        [routerLinkActiveOptions]="{ exact: false }"
        (mouseenter)="hoveredLabel$.next(link.label)"
        (mouseleave)="hoveredLabel$.next('')"
      >
        <span class="material-symbols-outlined">{{ link.icon }}</span>
        <p
          [class.visible]="
            (hoveredLabel$ | async) === link.label || (activeLabel$ | async) === link.label
          "
        >
          {{ link.label }}
        </p>
      </a>
    }
  </nav>
  <div class="header-btns">
    @if (vm$ | async; as vm) {
      @if (!vm.user) {
        <a class="authBtn" routerLink="/auth">Register</a>
      } @else {
        @if (vm.loading) {
          <div class="avatar skeleton"></div>
        } @else if (!vm.avatarUrl) {
          <div class="avatar">
            <p>{{ vm.username?.slice(0, 1)?.toUpperCase() }}</p>
          </div>
        } @else {
          <a routerLink="/profile">
            <img tabindex="0" [src]="vm.avatarUrl" class="avatar" />
          </a>
        }
      }
    }
    <app-theme-switcher class="themeSwitcher"></app-theme-switcher>
    <app-hamburger-menu></app-hamburger-menu>
  </div>
</header>
