<div #menu>
  <span tabindex="0" class="material-symbols-outlined menuSpan"> menu </span>
  @if (isMenuShown$ | async) {
    <div class="menu" animate.enter="enter-animation" animate.leave="leave-animation">
      <ul>
        <li class="themeLi">
          @if (vm$ | async; as vm) {
            @if (vm.loading) {
              <p class="username skeleton"></p>
            }
            @if (vm.user) {
              <p class="username">{{ vm.username }}</p>
            } @else {
              <p class="username">Guest</p>
            }
          }
          <app-theme-switcher class="menuSwitcher"></app-theme-switcher>
        </li>
        @for (link of navService.links; track link.path) {
          <li>
            <a [routerLink]="link.path" routerLinkActive="active-link">
              <p>{{ link.label }}</p>
              <span class="material-symbols-outlined themeSpan">{{ link.icon }}</span>
            </a>
          </li>
        }
        <li>
          <div class="btnCont">
            @if (vm$ | async; as vm) {
              @if (vm.user) {
                <button class="signBtn" (click)="signOut()">Log out</button>
              } @else {
                <a routerLink="auth" class="signLink"><button class="signBtn">Register</button></a>
              }
            }
          </div>
        </li>
      </ul>
    </div>
  }
</div>
