.menuSpan {
  border-radius: 50%;
  background-color: var(--secondary-color);
  transition: 0.4s;
  color: var(--contrast-color);
  font-size: 2rem;
  border: 1px solid transparent;
  cursor: pointer;
  transition: 0.4s;
  user-select: none;
  display: none;
  padding: 0 0.8rem;
  height: 3.6rem;
}
.menuSpan:hover,
.menuSpan:focus {
  border-color: var(--secondary-color);
  color: var(--secondary-color);
  background-color: transparent;
}
.menuSpan:active {
  border-color: var(--primary-color);
  color: var(--primary-color);
}
.menu {
  position: absolute;
  background-color: var(--contrast-color);
  border: 1px solid var(--border-color);
  padding-block: 0.4rem;
  display: flex;
  flex-direction: column;
  gap: 0.4rem;
  border-radius: 12px;
  top: calc(100% + 1.2rem);
  right: 0;
  color: var(--secondary-color);
  width: 240px;
  /* 4.8rem is headers top padding + 1.2rem that adds to top position of menu and 1.2rem for space on bottom */
  max-height: calc(100vh - var(--fixed-header-height) - 4.8rem);
  overflow-y: auto;
}
.themeLi {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid var(--border-color);
  padding: 0.8rem 1.6rem;
  transition: 0.4s;
}
.themeSwitcher .theme-btn span {
  width: 2rem;
  height: 2rem;
  background-color: transparent;
  color: var(--contrast-color);
}
.username {
  font-weight: 600;
  max-width: 150px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.skeleton {
  border-radius: 6px;
  width: 150px;
}

li a:not(.signLink) {
  display: flex;
  align-items: center;
  gap: 0.4rem;
  justify-content: space-between;
  border-block: 1px solid transparent;
}
li a:not(.signLink) span {
  font-size: 2rem;
}

li a:not(.signLink):hover,
li a.active-link,
li a:not(.signLink):focus {
  color: var(--primary-color);
  border-block-color: var(--primary-color);
}
li:nth-child(2) a:hover,
li:nth-child(2) a.active-link {
  border-top-color: transparent;
}
li:nth-last-child(2) a:hover,
li:nth-last-child(2) a.active-link {
  border-bottom-color: transparent;
}
li a:not(.signLink):hover:active {
  background-color: var(--primary-color);
  color: var(--contrast-color);
}

ul li:not(.themeLi) > * {
  padding: 0.8rem 1.6rem;
  transition: 0.4s;
}

.btnCont {
  border-top: 1px solid var(--border-color);
}
.signBtn {
  background-color: var(--secondary-color);
  color: var(--contrast-color);
  padding: 0.4rem 1.6rem;
  border: 1px solid transparent;
  width: 100%;
  cursor: pointer;
  border-radius: 8px;
  transition: 0.4s;
}
.signBtn:hover,
.signBtn:focus {
  border-color: var(--secondary-color);
  color: var(--secondary-color);
  background-color: transparent;
}
.signBtn:active {
  background-color: var(--primary-color);
  color: #fff;
  border-color: transparent;
}

.enter-animation {
  animation: slide-fade 1s;
}
.leave-animation {
  animation: slide-fade-out 1s;
}

@keyframes slide-fade {
  0% {
    opacity: 0;
    transform: translateX(100%);
  }
  25% {
    opacity: 0.2;
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
@keyframes slide-fade-out {
  from {
  }
  to {
    opacity: 0;
    transform: translateX(100%);
  }
}

.avatar {
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  text-align: center;
  font-size: 1.8rem;
  transition: 0.4s;
}
.avatar:hover,
.avatar:focus-visible {
  transform: scale(1.05);
}
@media (max-width: 768px) {
  .menuSpan {
    display: flex;
  }
}
@media (max-width: 475px) {
  .menu {
    width: 100%;
  }
}
