:root {
  --padding-inline: 4.8rem;
  --padding-inline-mobile: 1.6rem;
  --fixed-header-height: 6.4rem;

  --single-z: 1;
  --header-z: 2;
  --most-z: 100;
}

/* 1. Use a more-intuitive box-sizing model */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* 2. Remove default margin */
* {
  margin: 0;
}

/* 3. Enable keyword animations */
@media (prefers-reduced-motion: no-preference) {
  html {
    interpolate-size: allow-keywords;
  }
}

body {
  /* 4. Add accessible line-height */
  line-height: 1.5;
  /* 5. Improve text rendering */
  -webkit-font-smoothing: antialiased;
}

/* 6. Improve media defaults */
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

/* 7. Inherit fonts for form controls */
input,
button,
textarea,
select {
  font: inherit;
}

/* 8. Avoid text overflows */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

/* 9. Improve line wrapping */
p {
  text-wrap: pretty;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

/*
  10. Create a root stacking context
*/
#root,
#__next {
  isolation: isolate;
}
/*
  10. stanardize lists
*/
ul,
ol {
  list-style: none;
  padding: 0;
  margin: 0;
}
/*
  10. stanardize links
*/
a {
  text-decoration: none;
  color: inherit;
}
html {
  font-size: 62.5%;
  color-scheme: light dark;
  scrollbar-gutter: stable;
}
body {
  font-family: 'Roboto', sans-serif;
  background-color: #d9dae3;
  color: var(--text-color);
  overflow-x: hidden; /* Only prevent horizontal scroll */
  overflow-y: auto;
}
app-root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  /* overflow: hidden; */
}
app-blank-layout,
app-auth-layout,
app-public-layout {
  display: flex;
  flex: 1;
}
a:visited {
  color: var(--text-color);
}
html.disable-transitions *,
html.disable-transitions *::before,
html.disable-transitions *::after {
  transition: none !important;
}
/* Remove mobile tap highlight globally */
* {
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
}

button:focus,
a:focus {
  outline: none;
}
.material-symbols-outlined {
  font-size: 1.8rem;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

main {
  display: flex;
  flex: 1;
  padding: calc(var(--fixed-header-height) + 4.8rem) 0 2.4rem 0;
  font-size: 1.6rem;
  overflow: hidden;
  max-width: 1400px;
  margin: 0 auto;
  width: 100%;
}
@media (max-width: 475px) {
  main {
    padding: calc(var(--fixed-header-height) + 4.8rem) var(--padding-inline-mobile) 2.4rem
      var(--padding-inline-mobile);
  }
}
